@font-face {
    font-family: 'MADE Mirage';
    src: url('../ASSET/MADEMirage-Bold.woff2') format('woff2'),
        url('../ASSET/MADEMirage-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

body {
    margin: 0;
    font-family: 'MADE Mirage';
    height: auto;
    align-items: center;
    background-color: #292a2e;
}

section {
    border-radius: 15px;
    background-color: #555962;
}

footer {
    display: flex;
    padding-left: 2%;
    padding-right: 2%;
    background-color: #024A8D;
    margin-top: 50px;
    padding-top: 2%;
    height: 250px;
    align-items: center;
    width: 100%;
    color: white;
    justify-content: space-around;
    font-size: 25px;
}

#Credit {
    width: 700px;
}

footer #Lien {
    display: block;
    align-items: center;
    padding-left: auto;
    padding-right: auto;
}

#Lien {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 40px;
    width: 500px;
}

h2 {
    width: auto;
    font-size: 25px;
    padding-top: 2px;
    padding-bottom: 2px;
}

footer img {
    width: 64px;
    height: 64px;
    border-radius: 0px;
    margin-left: 15px;
    margin-right: 15px;
    padding-top: 2px;
}

@media screen and (max-width: 1250px) {
    #carouselExampleAutoplaying {
        width: 85%;
        border-radius: 20px;
        padding: 0;
        margin-top: 20px;
        margin-left: auto;
    }
}

@media screen and (max-width: 1050px) {

    ul a,
    body li,
    body ul {
        width: 80%;
        height: 80%;
        font-size: 100%;
        padding-top: 5px;
        padding-bottom: 5px;
        margin-left: auto;
        margin-right: auto;
    }

    footer {
        height: auto;
    }
}

@media screen and (max-width: 1040px) {

    #banniere,
    #banniere img {
        width: 90%;
        margin-right: 0;
    }
}