:root {
    --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
      "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
      "Source Han Sans CN", sans-serif;
  }
  
  .main-container {
    overflow: hidden;
  }
  
  .main-container,
  .main-container * {
    box-sizing: border-box;
  }
  
  input,
  select,
  textarea,
  button {
    outline: 0;
  }
  body {
    margin: 0;
    font-family: 'MADE Mirage';
    background-color: #383B42;
    height: auto;
    align-items: center;
  }
  .main-container {
    position: relative;
    width: 1440px;
    height: 953px;
    margin: 0 auto;
    background: #383b42;
    overflow: hidden;
  }
  .flex-column-a {
    position: absolute;
    width: 732px;
    height: 446px;
    top: 255px;
    left: 0;
    font-size: 0px;
    z-index: 8;
  }
  .connection-text {
    display: block;
    position: relative;
    height: 35px;
    margin: 0 0 0 244px;
    color: #ffffff;
    font-family: Inter, var(--default-font-family);
    font-size: 40px;
    font-weight: 400;
    line-height: 35px;
    text-align: left;
    white-space: nowrap;
    z-index: 5;
  }
  .line {
    position: relative;
    width: 732.005px;
    height: 3.71px;
    margin: 107.162px 0 0 0;
    background: url(./assets/images/a9411f4b-14b2-4cb8-8e61-cea94fec951b.png)
      no-repeat center;
    background-size: cover;
    z-index: 6;
  }
  .rectangle-1 {
    position: relative;
    width: 450px;
    height: 65px;
    margin: 41.128px 0 0 141px;
    background: #a5a5a5;
    z-index: 8;
    overflow: hidden;
    border-radius: 15px;
  }
  .email {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 35px;
    top: 15px;
    left: 18px;
    color: #ffffff;
    font-family: Inter, var(--default-font-family);
    font-size: 30px;
    font-weight: 400;
    line-height: 35px;
    text-align: left;
    white-space: nowrap;
    z-index: 9;
  }
  .rectangle-2 {
    position: relative;
    width: 450px;
    height: 65px;
    margin: 32px 0 0 141px;
    background: #a5a5a5;
    z-index: 7;
    overflow: hidden;
    border-radius: 15px;
  }
  .pseudo {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 35px;
    top: 15px;
    left: 18px;
    color: #ffffff;
    font-family: Inter, var(--default-font-family);
    font-size: 30px;
    font-weight: 400;
    line-height: 35px;
    text-align: left;
    white-space: nowrap;
    z-index: 10;
  }
  .rester-connecte {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 39px;
    top: 407px;
    left: 276px;
    color: #ffffff;
    font-family: Inter, var(--default-font-family);
    font-size: 32px;
    font-weight: 400;
    line-height: 38.727px;
    text-align: left;
    white-space: nowrap;
    z-index: 3;
  }
  .rectangle-3 {
    position: absolute;
    width: 39px;
    height: 38px;
    top: 408px;
    left: 213px;
    background: #d9d9d9;
    z-index: 2;
    border-radius: 5px;
  }
  