/* General styling */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #343a40; /* Couleur de fond sombre */
    color: #ffffff; /* Couleur du texte blanc */
}

/* Container styling */
.container {
    display: flex;
}

/* Sidebar styling */
.sidebar {
    width: 250px;
    height: 100vh;
    background-color: #23272b; /* Couleur de fond de la barre latérale */
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 10px;
}

.sidebar a {
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
}

.sidebar a:hover {
    color: #00aaff;
}

/* Content styling */
.content {
    margin-left: 250px;
    padding: 20px;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
}

h1 {
    color: #ffffff;
    text-align: center;
    width: 100%;
}

/* Section styling */
.profile-section, .user-profile, .admin-section {
    width: 80%; /* Ajustez cette valeur selon vos besoins */
    margin: 0 auto; /* Centrer horizontalement */
    background-color: #3e444a;
    padding: 20px;
    border-radius: 8px;
    background-size : cover;
}

/* Form styling */
form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
}

input[type="text"], select, input[type="file"] {
    margin-bottom: 10px;
}

button {
    background-color: #007bff;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #0056b3;
}

/* Table styling */
.admin-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.admin-table th, .admin-table td {
    border: 1px solid #454d55;
    padding: 12px 15px;
    text-align: left;
}

.admin-table th {
    background-color: #343a40;
    color: #ffffff;
}

.admin-table td {
    background-color: #3e444a;
}

.admin-table tr:nth-child(even) td {
    background-color: #343a40;
}

.admin-table td {
    color: #ffffff;
}

.admin-table .button {
    background-color: #007bff;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 2px 1px;
    cursor: pointer;
    border-radius: 4px;
}

.admin-table .button:hover {
    background-color: #0056b3;
}
.dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #007bff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    border-radius: 4px;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }