body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #383B42;
}

header {
    display: flex;
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 40px;
    background-color: #555962;
    height: 80px;
    align-items: center;
    color: white;
    justify-content: space-around;
    border-radius: 15px;
}

header img {
    width: 64px;
    margin: 8px;
}

header a {
    text-align: center;
    align-items: center;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

header a:hover {
    text-decoration: none;
    color: rgb(59, 59, 255);
    font-weight: bold;
    font-size: 120%;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    width: 80%;
    max-width: 1200px;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #fff;
    border: 2px solid #ccc;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.3s;
    text-decoration: none;
}

.button img {
    max-width: 100%;
    height: auto;
    display: block;
}

.button:hover {
    transform: scale(1.05);
}
