@font-face {
    font-family: 'MADE Mirage';
    src: url('../ASSET/MADEMirage-Bold.woff2') format('woff2'),
        url('../ASSET/MADEMirage-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

body {
    margin: 0;
    font-family: 'MADE Mirage';
    background-color: #383B42;
    display: flex;  /* Utilisation de flexbox pour centrer le contenu */
    flex-direction: column; /* Disposition en colonne pour les enfants directs */
    align-items: center; /* Centre les éléments horizontalement */
    min-height: 100vh; /* S'assure que le body prend toute la hauteur */
}

header {
    display: flex;
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 40px;
    background-color: #555962;
    height: 80px;
    align-items: center;
    color: white;
    justify-content: space-around;
    border-radius: 15px;
    width: 100%; /* Occupe toute la largeur disponible */
    max-width: 1200px; /* Largeur maximale pour le header */
}

header a {
    text-align: center;
    align-items: center;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

header img {
    width: 64px;
    margin: 8px;
}

h1 {
    text-align: center;
    color: white;
    width: 100%; /* S'assure que le titre prend toute la largeur */
    margin: 20px 0; /* Marge pour espacement */
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    width: 80%;
    max-width: 1200px;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #fff;
    border: 2px solid #ccc;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.3s;
    text-decoration: none;
}

.button img {
    max-width: 100%;
    height: auto;
    display: block;
}

.button:hover {
    transform: scale(1.05);
}

.pkmn-card {
    width: 215px;
    height: 300px;
    margin: 15px;
    cursor: pointer;
}

#container, img {
    cursor: pointer;
}

.col-auto {
    margin-left: auto;
    margin-right: auto;
}

#card-container {
    display: flex; /* Utilisation de flexbox pour les cartes */
    flex-wrap: wrap; /* Permet de passer à la ligne pour les cartes */
    justify-content: center; /* Centre les cartes horizontalement */
    align-items: center; /* Centre les cartes verticalement */
    margin: 20px 0; /* Marge pour espacement avec les autres éléments */
    width: 100%; /* Occupe toute la largeur disponible */
    max-width: 1200px; /* Largeur maximale pour le conteneur de cartes */
}
