body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #383B42;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    width: 80%;
    max-width: 1200px;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #fff;
    border: 2px solid #ccc;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.3s;
    text-decoration: none;
}

.button img {
    max-width: 100%;
    height: auto;
    display: block;
}

.button:hover {
    transform: scale(1.05);
}
